.header {
    top: 10px;
    height: 100px;
    left: 10px;
    right: 10px;
    position: fixed;
    text-align: center;
    background-color: gray;
}

.footer {
    bottom: 10px;
    height: 100px;
    left: 10px;
    right: 10px;
    position: fixed;
    text-align: center;
    background-color: lightslategray;
    top: 439px;
}

.left-panel{
    left: 10px;
    width: 300px;
    position: fixed;
    top: 120px;
    text-align: center;
    background-color: lightsteelblue;
}

.centre-panel{
    position: fixed;
    top: 120px;
    text-align: center;
    margin-left: 320px;
}

body {
    background-color: mintcream;
}